.additional-goods__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.additional-goods__title {
  text-transform: uppercase;
}
.additional-goods__price {
  float: right;
}
.additional-goods__list {
  padding-top: 20px;
  border-top: 1px solid grey;
}
.additional-goods__item {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
