.case {
  background-color: $grey;
  padding-bottom: 36px;
}

.case__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.case__text {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 1px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.case__feature--horizontal-title {
  text-align: center;
}

.case__feature {
  text-transform: uppercase;
}

.case__title {
  margin: 0;
  margin-bottom: 23px;
  padding-top: 17px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.case__info {
  margin-bottom: 35px;
  padding: 0 20px;
}

@media ($tablet-widths) {
  .case {
    min-height: 1078px;
  }

  .case__title {
    font-size: 60px;
  }
}
