.case__wrapper {
  background-color: $grey;
  padding-left: 20px;
  padding-right: 20px;
}

.case__feature--horizontal-title {
  text-align: center;
}

.case__feature {
  text-transform: uppercase;
}

@media ($tablet-widths) {
  .case {
    min-height: 1078px;
  }

  .case__title {
    font-size: 60px;
  }
}
