.options {
  padding-left: 20px;
  padding-right: 20px;
}

.options__item {
  @include clearfix();
  background-color: $grey;
}

.options__title {
  text-transform: uppercase;
  float: right;
  min-width: 70%;
}

.options__title-block {
  @include clearfix();
}

.options__link {
  text-transform: uppercase;
  float: left;
}

.options__text {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid #d9d9d9;
}

.options__img {
  float: left;
}

.options__pic {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;
}

@media ($tablet-widths) {
  .options {
    min-height: 770px;
  }

  .options__title {
    font-size: 36px;
  }
}

@media ($desktop-widths) {
  .options {
    min-height: 370px;
  }

  .options__item {
    width: 45%;
    display: inline-block;
  }
}
