.options {
  padding-left: 20px;
  padding-right: 20px;
}

.options__item {
  @include clearfix();
  background-color: $grey;
}

.options__title {
  text-transform: uppercase;
  float: right;
  min-width: 70%;
}

.options__title-block {
  @include clearfix();
}

.options__link {
  text-transform: uppercase;
  float: left;
}

.options__text {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  border-bottom: solid 1px black;
  float: left;
}

.options__img {
  float: left;
}

.options__pic {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;
}
