.page-header {
  @include clearfix();
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  padding: 12px 20px;
  border-bottom: 1px solid #e6e6e6;
}

@media ($tablet-widths) {
  .page-header__logo {
    margin-right: 95px;
    padding: 0;
    border: none;
  }

  .page-header {
    width: 768px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 54px;
    padding: 0 30px;
  }
}

@media ($desktop-widths) {
  .page-header {
    justify-content: space-between;
    width: 1300px;
    margin-top: 55px;
    margin-bottom: 71px;
    padding: 0 40px;
  }

  .page-header__logo {
    margin: 0;
  }
}
