.slogan {
  padding-left: 20px;
  padding-right: 20px;
}

.slogan__title {
  font-size: 36px;
}

.slogan__title--main {
  text-align: center;
}

.slogan__text {
  text-transform: uppercase;
  text-align: center;
}

@media ($tablet-widths) {
  .slogan--mine {
    min-height: 810px;
  }

  .slogan__title {
    max-width: 426px;
    text-align: left;
    font-size: 60px;
  }

  .slogan__text {
    text-align: left;
  }

  .btn {
    width: 244px;
  }
}

@media ($desktop-widths) {
  .slogan {
    min-height: 200px;
  }
}
