.slogan {
  padding-left: 20px;
  padding-right: 20px;
}
.slogan__title {
  font-size: 36px;
}
.slogan__title--main {
  text-align: center;
}
.slogan__text {
  text-transform: uppercase;
  text-align: center;
}
