.social-links {
  padding: 0;
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.social-links__item {
  display: inline;
}

.social-links__item:nth-child(1) {
  margin-right: 37px;
}

.social-links__item:nth-child(2) {
  margin-right: 37px;
}

.social-link--vkontakte {
  width: 24px;
  height: 24px;
}

.social-link--instagram {
  width: 24px;
  height: 24px;
}

.social-link__icon {
  fill: #666666;
}

.social-links__list {
  display: flex;
  align-items: center;
  width: 134px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
