body{
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
img {
  border: 0;
  display: block;
}
li {
  list-style-type: none;
 }
 ul {
  margin-left: 0;
  padding-left: 0;
 }
.wrapper{
  @include container();
  @include clearfix();
}
