.btn {
  background-color: #68b738;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: none;
}

.btn--view-all {
  background-color: #f2f2f2;
  color: #444444;
}
