$white: #ffffff;
$grey: #f2f2f2;
$green: #68b738;

$font-family: "Oswald", "Tahoma", sans-serif;

$tablet-widths:  "min-width: 768px";
$desktop-widths:  "min-width: 1434px";
$mobile-widths-only: "max-width: 767px";

$input-border-color: #e6e6e6;
$input-border-color-hvr: #cdcdcd;
$input-border-color-activ: #444444;
$input-border-color-error: #ff8282;
